* {
    box-sizing: border-box;
}
 
/* body 样式 */
body {
    font-family: Arial;
    margin: 0;
}
 
/* 标题 */
.header {
    text-align: center;
    background-image: url('../images/main_building.jpg');
    /* background-size: 1620px 911px; */
    background-size: contain;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    height: 100vh;
    color: black;
}
.header h1 {
    margin-top: 100px; /* 调整这个值来向下移动标题 */
}
 
/* 标题字体加大 */
.header h1 {
    font-size: 60px;
}
.OpenAuto, .OpenCS, .OpenDS {
    width: 200px; /* 指定宽度 */
    height: 100px; /* 指定高度 */
    display: inline-block;
    margin: 10px;
    padding: 20px 40px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}
.Physics_lab:hover .OpenCS, .OpenDS{
    background-color: black;
    color: white;
}
/* 容器样式，用于对齐框 */
.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* 调整框之间的间距 */
    margin-top: 20px; /* 调整容器的上边距 */
}
