* {
    box-sizing: border-box;
}
 
/* body 样式 */
body {
    font-family: Arial;
    margin: 0;
}
 
/* 标题 */
.header {
    text-align: center;
    background-image: url('images/main_building.jpg');
    /* background-size: 1620px 911px; */
    background-size: contain;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 50px;
    color: black;
}
 
/* 标题字体加大 */
.header h1 {
    font-size: 60px;
}
/* 右侧链接*/
.navbar a.right {
    float: right;
}
 
/* 鼠标移动到链接的颜色 */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
 
/* 列容器 */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
 
/* 创建两个列 */
/* 边栏 */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
 
/* 主要的内容区域 */
.special_courses {   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     /* margin-top: 20px;调整这个值来向下移动链接 */
    display: inline-block;
    margin: 10px;
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Georgia', serif;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}
.experiment_courses {   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
    margin: 10px;
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Georgia', serif;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}
.mooc {   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
    margin: 10px;
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Georgia', serif;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}
.cross_major {   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
    margin: 10px;
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Georgia', serif;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}


/* 底部 */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
 
/* 响应式布局 - 在屏幕设备宽度尺寸小于 700px 时, 让两栏上下堆叠显示 */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}
 
/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目上下堆叠显示 */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
